html
    head
        title= title
        script(src="/scripts/script.js")
    body(
        onload="focusForm()"
    )
        h1= message
        form(
            name="myform"
            id="login_form"
            action=submitPath
            method="post"
        )
            input(
                type="text"
                name="username"
                id="username"
                placeholder="username"
                onkeypress="keyPressed('username')"
            )
            input(
                type="password"
                name="password"
                onkeypress="keyPressed('password')"
            )
            input(
                type="button"
                value="submit"
                onclick="formSubmit()"
            )
            input(
                type="hidden"
                name="speedUser"
                id="speedUser"
            )
            input(
                type="hidden"
                name="speedPass"
                id="speedPass"
            )
            input(
                type="hidden"
                name="speedMouse"
                id="speedMouse"
            )
            input(
                type="hidden"
                name="mouseMoveEvents"
                id="mouseMoveEvents"
            )
