html
    head
        title RESULTS
        link(
            type="text/css"
            rel="stylesheet"
            href="/css/materialize.css"
        )
    body
        div(class="container")
            h1 Results 
            h4=result
            button(
                class="btn waves-effect waves-light"
                onclick="window.location='/'"
            ) Return
